.aws/credentials
.terraform/
*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform.lock.hcl
.vscode/bookmarks.json
.vscode/settings.json
.vscode
.vscode/bookmarks.json
.vscode/settings.json
vsphere.auto.tfvars
.DS_Store
environment/*/*/*/modules
environment/*/mike-tests/